* {
    padding:0px;
    border:border-box;
    margin:0px;
    text-align:center;
    color:white;
}
body {
    background-color:black;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container {
    width:40%;
    background-color:white;
    margin:100px auto 0;
    padding : 40px 35px;
    border-radius:20px;
    background:linear-gradient(135deg,deepskyblue,darkblue);
}
.search {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}
.search input{
    height:60px;
    width:80%;
    border-radius:30px;
    font-size:1.5rem;
    color:black;
}
.search button{
    width:60px;
    height:60px;
    cursor:pointer;
    border-radius:50%;
}
.search button img{
    width:20px;
}
.error{
    margin-top:10px;
    font-size:20px;
    display:none;
}
.weather-details {
    display:none;
}
.weather-details img{
    width:250px;
}
.temp{
    font-size:80px;
    font-weight:500px;
}
.city {
    font-size:50px;
    font-weight:400px;
}
.details{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    margin-top:50px;
}
.column {
    display:flex;
    align-items:center;
}
.column img{
    width:50px;
    margin-right:20px;
}
.column p{
    text-align:left;
}
.humidity, .wind{
    font-size:30px;
}

